.container {
  width: 960px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  -webkit-animation: cart_in 1s;
  animation: cart_in 1s; }

* {
  padding: 0;
  margin: 0;
  border: none; }

@-webkit-keyframes cart_in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes cart_in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.header-site {
  width: 100%;
  background-color: white;
  top: 0;
  height: 50px;
  position: fixed;
  border-bottom: 4px solid #c06565; }
  .header-site .container {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .header-site .container__logo {
      padding-left: 20px; }
      .header-site .container__logo a img {
        height: 30px; }
    .header-site .container__cart {
      position: relative;
      padding-right: 20px; }
      .header-site .container__cart:hover {
        -webkit-animation: cart_in 0.5s;
        animation: cart_in 0.5s; }
        .header-site .container__cart:hover .container__cart__list {
          display: block; }
      .header-site .container__cart > img {
        height: 30px; }
      .header-site .container__cart > span {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        top: -8px;
        left: 20px;
        color: white;
        background-color: red;
        width: 20px;
        height: 20px;
        font-size: 10px;
        border-radius: 50%; }
      .header-site .container__cart__list {
        display: none;
        background: white;
        padding: 0px 10px 10px 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 26px 0px rgba(27, 27, 27, 0.75);
        box-shadow: 0px 0px 26px 0px rgba(27, 27, 27, 0.75);
        position: absolute;
        width: 250px;
        top: 30px;
        right: 20px; }
        .header-site .container__cart__list__item {
          margin-top: 10px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; }
          .header-site .container__cart__list__item:hover {
            background-color: white;
            -webkit-box-shadow: 0px 0px 26px 0px rgba(27, 27, 27, 0.75);
            box-shadow: 0px 0px 26px 0px rgba(27, 27, 27, 0.75);
            -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
            border-radius: 10px;
            padding: 5px; }
          .header-site .container__cart__list__item img {
            border-radius: 10px;
            width: 20%;
            height: 100%; }
          .header-site .container__cart__list__item .info {
            margin-left: 10px; }
            .header-site .container__cart__list__item .info span {
              font-size: 14px; }
        .header-site .container__cart__list li {
          list-style: none; }
        .header-site .container__cart__list ul {
          padding: 0;
          margin: 0; }
        .header-site .container__cart__list a {
          color: white;
          text-decoration: none; }
        .header-site .container__cart__list a {
          font-weight: bold;
          margin-top: 10px;
          background-color: red;
          border-radius: 10px;
          padding: 10px;
          text-align: center;
          display: block; }

.body-site {
  margin-top: 80px; }
  .body-site .container__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding-left: 20px; }
    .body-site .container__heading__filter li {
      list-style: none; }
    .body-site .container__heading__filter ul {
      padding: 0;
      margin: 0; }
    .body-site .container__heading__filter a {
      color: #2b2a2a;
      text-decoration: none; }
    .body-site .container__heading__filter .flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .body-site .container__heading__filter .flex li {
        text-transform: capitalize;
        padding-right: 20px; }
        .body-site .container__heading__filter .flex li .active {
          color: red;
          font-weight: bold; }
        .body-site .container__heading__filter .flex li a {
          -webkit-transition: 0.2s ease-in-out;
          -o-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out; }
          .body-site .container__heading__filter .flex li a:hover {
            color: red;
            font-weight: bold; }
  .body-site .container__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .body-site .container__row__item {
      margin-top: 50px;
      width: 25%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-right: 20px;
      padding-left: 20px;
      -webkit-animation: cart_in 1s;
      animation: cart_in 1s; }
      .body-site .container__row__item img {
        width: 100%;
        -webkit-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease; }
        .body-site .container__row__item img:hover {
          border-radius: 5px;
          -webkit-box-shadow: 0px 0px 26px 0px rgba(27, 27, 27, 0.75);
          box-shadow: 0px 0px 26px 0px rgba(27, 27, 27, 0.75);
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05); }
      .body-site .container__row__item .info__title h4 {
        margin: 10px 0; }
      .body-site .container__row__item .info__bottom {
        margin-top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .body-site .container__row__item .info__bottom a {
          color: black;
          text-decoration: none; }
        .body-site .container__row__item .info__bottom a {
          padding: 5px;
          border: 1px solid #444343;
          border-radius: 5px;
          font-size: 12px;
          -webkit-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
          cursor: pointer; }
          .body-site .container__row__item .info__bottom a:hover {
            background-color: red;
            font-weight: bold;
            color: white; }
