@mixin reset-ul-li {
    li {
        list-style: none;
      }
      ul {
        padding: 0;
        margin: 0;
      }
}
@mixin reset-a($color) {
    a {
      color: $color;
      text-decoration: none;
    }
  }